* {
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
}
 html {
    box-sizing: border-box;
 }

body {
    background-color:papayawhip;
}
a {
    text-decoration: none;
    font-size: large;
    color: black;
    font-weight: bolder;
    position: relative
}

h1 {
    font-size: 60px;
}

h2 {
    font-size: 50px;
}

footer, li{
    list-style-type: none;
}

figcaption {
    font-size:30px;

}

nav {
    float: right;
    margin-top: 0;
    font-size: 40px;
}

#img {
    float: right ;
}

@media screen and (max-width: 992px) {
    body {
        font-size: 30px;

    }

}